h1{
    width: 200px;
    border: 1px solid black;
    margin-left: 0px;
    color: black;
}
h1:hover{
  background-color: rgb(110, 42, 165);
  transition: background-color brown;
}
#outer{
  width:500px;
  height:50px;
  border: 2px solid black;
  #box{
    width: 1%;
    height: 100%;
    background-color: blue;
  }
}

#outer:hover{
 #box{
  width:100%;
  background-color: brown;
  transition:width 5s ease-in-out ,background-color 5s ease-in-out;
 }

}

#outer1{
  width:500px;
  height:50px;
  border: 2px solid black;
  #box1{
    
    height: 50px;
    
  }
}

#outer1:hover{
 #box1{
  animation:  MyAnimation 5s linear;
 }

}

@keyframes MyAnimation {
  0%{
  width: 0%;
  background-color: red;
   }
   50%{
    width: 50%;
    background-color:yellow;

   }
   100%{
    width: 100%;
    background-color: green;
   }

}

