#mainDiv{
    border:  1px solid #000;
    width:  700px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
   /* gap: 5px;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.subdiv{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    background-color: blueviolet;

}
